* {
  margin: 0;
}

.header {
  background-color: #131921;
}
.hader_logo {
  width: 100px;
  margin: 20px;
}
.header {
  display: flex;
  flex: 1;
}
.header_searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%; 
}
.header_searchIcon {
  background-color: bisque;
}